@media (max-width: 1024px) {
    .container {
        max-width: 300px;
        padding: 25px 0 12px 0;
    }
    .header {
        background-color: #002F61;
        padding: 15px 0 15px 0;
    }
    .header h1 {
        font-size: 24px;
    }
    .descricao {
        padding: 15px 0 15px 0;
    }
    .descricao h3 {
        color: #0054AD;
        font-size: 18px;
    }
    .section-1 {
        max-width: 300px;
    }
    .verificando {
        max-width: 300px;
        font-size: 14px;
    }
    .atividades input {
        width: 70px;
        margin: 2px 7px 2px 0px;
        font-size: 14px;
    }
    .pesos input {
        width: 25px;
        margin: 2px 7px 2px 0px;
        font-size: 14px;
    }
    .notas input {
        width: 35px;
        margin: 2px 7px 2px 0px;
        font-size: 14px;
    }
    .container-button {
        padding: 10px 0 10px 0;
    }
    .container-button button {
        width: 120px;
        margin: 10px;
    }
    .section-3 {
        max-width: 300px;
    }
    .container-label {
        max-width: 200px;
    }
    .class-media::after {
        content: "MÉDIA";
        top: 5;
        left: -10px;
        bottom: 1px;
        position: absolute;
    }
    .class-resultado::after {
        content: "RESULTADO";
        bottom: 1px;
        right: 10px;
        position: absolute;
    }
    .MEDIA {
        width: 70px;
        height: 70px;
        padding-left: 25px;
        font-size: 20px;
        font-weight: bold;
    }
    .RESULTADO {
        color: white;
        width: 140px;
        height: 70px;
        padding-left: 30px;
        font-size: 20px;
        font-weight: bold;
    }
    .footer {
        margin-top: 15px;
        position: initial;
    }
}